.reviewsModule {
  display: flex;
  align-items: left;
}


.reviewStars {
  color: rgb(0, 124, 128);
}

.avatar {
  float: left;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.username {
  float: left;
}

.date {
  float: left;
}

.avatar:hover {
  cursor: pointer;
}

.username:hover {
  cursor: pointer;
}

.aggStars {
  color: rgb(0, 124, 128);
  float: left;
}

.rightSide {

  float: right;
}

.reviewText {
  float: left;
}

.starsNum {
  float: left;
}

.moreButton {
  border: none;
  color: rgb(0, 124, 128);
}