.reviewsModule {
  display: flex;
  align-items: left;
}

.guestReviews {
  box-sizing: border-box;
  /* position: fixed; */
  min-width: 250px;
  max-width: 500px;
}

.reviewStars {
  color: rgb(0, 124, 128);
}

.avatar {
  float: left;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.avatar:hover {
  cursor: pointer;
}

.nameDate {
  font-size: 12px;
}

.username {
  float: left;
  font-weight: 600;
  margin: 0px 0px 3px 10px;
}

.date {
  float: left;
  margin: 0px 5px 3px 10px;
}

.username:hover {
  cursor: pointer;
}

.rightSide {
  box-sizing: border-box;
  max-width: 700px;
  float: right;
}

.reviewText {
  float: left;
  box-sizing: border-box;
}

.aggRating {
  float: left;
}

.aggStars {
  color: rgb(0, 124, 128);
  vertical-align: top;
}

.aggNum {
  float: left;
  margin: 0px 5px 0px 0px;
  font-size: 20px;
  vertical-align: bottom;
}

.starsNum {
  font-weight: 600;
}

.currPage {
  border-radius: 50%;
  color: white;
  background-color: rgb(0, 124, 128);
}

button {
  border: none;
  color: rgb(0, 124, 128);
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dots:hover {
  cursor: default;
  text-decoration: none;
}

.line {
  width: auto;
  border-bottom: 1px solid darkgray;
}

.reviewStars {
  position: initial;
}

.next {
  border-radius: 75%;
  border: 1px solid rgb(0, 124, 128);
  text-decoration: none;
}

.previous {
  border-radius: 75%;
  border: 1px solid rgb(0, 124, 128);
  margin: 0px 5px 0px 0px;
  text-decoration: none;
}

.reviewListItems {
  box-sizing: border-box;
  height: auto;
}

.pageSelector {
  float: left;
}

button:focus {
  outline: none;
}
